footer{
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: min(calc(4vw * $multiplier), 4rem);
  padding-block-start: min(calc(6vw * $multiplier), 6rem);
  padding-block-end: min(calc(3vw * $multiplier), 3rem);

  .copy{
    color: $neutral;
    font-size: min(calc(.875vw * $multiplier), .875rem);
    line-height: 1.4;
  }
}