.contact{
  h2{
    max-width: 35rem;
    text-align: center;
    line-height: 1.4;
    margin-inline: auto;
    margin-block-end: min(calc(4vw * $multiplier), 4rem);
  }

  .cont{
    @media (min-width: 48rem){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    & > div:nth-child(1){
      margin-block-end: min(calc(3vw * $multiplier), 3rem);;
    }

    h3{
      line-height: 1.7;
      margin-block-end: min(calc(2vw * $multiplier), 2rem);
    }
    h4{
      line-height: 1.7;
      margin-block-end: min(calc(1vw * $multiplier), 1rem);
    }
    p{
      line-height: 1.7;
    }
    .links{
      display: flex;
      gap: min(calc(1.5vw * $multiplier), 1.5rem);
      margin-block-start: min(calc(1.5vw * $multiplier), 1.5rem);
      margin-block-end: min(calc(3vw * $multiplier), 3rem);
      a{
        width: 2rem;
        aspect-ratio: 1/1;
        &:nth-child(1){ background: url('./images/icons/fb.svg'); }
        &:nth-child(2){ background: url('./images/icons/ig.svg'); }
        &:nth-child(3){ background: url('./images/icons/yt.svg'); }
      }
    }
    .phone{
      display: flex;
      flex-flow: column;
      gap: min(calc(.5vw * $multiplier), .5rem);
      margin-block-start: min(calc(1.5vw * $multiplier), 1.5rem);
      span{
        font-weight: 700;
      }
    }

    form{
      display: flex;
      flex-flow: column;
      gap: min(calc(1.5vw * $multiplier), 1.5rem);
      margin-block-start: min(calc(2vw * $multiplier), 2rem);

      textarea{
        resize: none;
        height: min(calc(13.5625vw * $multiplier), 13.5625rem);
      }
      
      button{
        align-self: flex-start;
      }
    }
  }
}